<div class="d-flex justify-content-center vh-75 align-items-center">
  <div *ngIf="!surveyComplete">
    <div *ngIf="selectedSurvey.questionList !== null">

      <div class="mt-3 vw-75 vh-75">
        <app-question  *ngFor="let question of selectedSurvey.questionList"
                      [question]="question"
                      [survey]="selectedSurvey"
                      [index]="questionIndex"
                      (changeQuestion)="onDirectionChange($event)"
                      (sendResponse)="addResponse($event)"
        ></app-question>
      </div>

    </div>
  </div>

  <div *ngIf="surveyComplete">
    <div class="mt-5 text-light">Thank you for completing survey!</div>
  </div>
</div>

