<div *ngIf="!surveyComplete">
  <div>
    <div>Survey Title in survey: {{selectedSurvey.title}}</div>
  </div>


  <div *ngIf="selectedSurvey.questionList !== null">

    <div>
      <app-question *ngFor="let question of selectedSurvey.questionList"
                    [question]="question"
                    [survey]="selectedSurvey"
                    [index]="questionIndex"
                    (changeQuestion)="onDirectionChange($event)"
                    (sendResponse)="addResponse($event)"
      ></app-question>
    </div>
    <button *ngIf="questionIndex === selectedSurvey.questionList.length - 1">Submit</button>

  </div>
</div>

<div *ngIf="surveyComplete">
  <div>Thank you for completing survey!</div>
</div>

