<div *ngIf="!selectedSurvey">
  <div *ngFor="let survey of surveyList">
    Title: {{survey.title}}
    <button (click)="onViewSurveyClick(survey)">View Survey</button>
  </div>
</div>

<div *ngIf="selectedSurvey">
  <app-survey
    [survey]="selectedSurvey"
    (onSurveySubmit)="isSurveyComplete($event)"
  ></app-survey>
  <button *ngIf="!isSurveyFinished" (click)="onSurveyCancelClick(false)">Cancel</button>
  <button *ngIf="isSurveyFinished" (click)="onSurveyCancelClick(true)">View More Surveys</button>
</div>
