<div *ngIf="question.index === index" class="d-flex flex-column align-items-center justify-content-center vh-75">
  <div class="card mt-3 p-1 d-flex flex-column justify-content-center" style="width: 50rem; height: 20rem">
    <div class="m-5" *ngIf="question.responseType === 'Text'">
      <div class="mb-3">{{question.index + 1}}. {{question.prompt}}</div>
      Response: <input type="text" [(ngModel)]="questionResponse">
    </div>

    <div class="m-5" *ngIf="question.responseType === 'Multiple Choice'">
      <div class="mb-3">{{question.index + 1}}. {{question.prompt}}</div>
      <div *ngFor="let option of question.responseOptions">
        <input type="radio" name="show options" id="{{option}}" value="{{option}}" [(ngModel)]="questionResponse">
        <label for="{{option}}">
          {{option}}
        </label>
      </div>
    </div>

    <div class="m-5" *ngIf="question.responseType === 'True/False'">
      <div class="mb-3">{{question.index + 1}}. {{question.prompt}}</div>
      <div *ngFor="let option of question.responseOptions">
        <input type="radio" name="show options" id="{{option}}" value="{{option}}" [(ngModel)]="questionResponse">
        <label for="{{option}}">
          {{option}}
        </label>
      </div>
    </div>
    <div class="text-center">{{blankFieldMessage}}</div>

  </div>

  <div class="m-5" style="width: 30rem">
    <div class="d-flex float-start">
      <button class="btn btn btn-outline-light" (click)="onDirectionClick('<')" *ngIf="index > 0">Previous</button>
    </div>
    <div class="d-flex float-end">
      <button class="btn btn-outline-light" (click)="onDirectionClick('>')" *ngIf="index !== survey.questionList.length - 1">Next</button>
      <button class="btn btn-outline-success" (click)="onDirectionClick('Submit')" *ngIf="index === survey.questionList.length - 1">Submit</button>
    </div>
  </div>
</div>

